# Node.js
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
yarn-error.log
yarn-debug.log

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# Miscellaneous
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js specific
.next/
out/

/dvsdvdsvv/
